body {
	font-family: "Times New Roman", Times, serif;
	color: #eeeeee;
	background-color: #292a2d;
	text-align: center;
}

h1.login, h1.register {
	font-size: 100px;
}

h1 {
	margin-bottom: 10px;
}

p.error {
	color: #d34f31;
	font-size: 120%;
	padding: 0 0;
	margin: 0 0;
	font-weight: bold;
}

p.retweet-add {
	margin: 0 0;
}

input, textarea {
	display: block;
	margin: 15px auto;
	text-align: center;
}

label {
	font-size: 25px;
}

input[type=submit], input[type=button] {
	margin: 30px auto;
	border: 0;
	color: #f1f1f1;
	background: #505157;
	padding: 10px 20px;
	border-radius: 3px;
	font-size: 15px;
	width: 200px;
}

input[type=file] {
	margin: 30px auto;
	border: 0;
	color: #f1f1f1;
	background: #17181e;
	padding: 10px 20px;
	border-radius: 3px;
	font-size: 15px;
}

input[type=text], input[type=email], input[type=password], textarea {
	width: 200px;
	padding: 6px 20px;
	border: 1px solid #ccc;
	border-radius: 3px;
	box-sizing: content-box;
}

input.comment-box {
	width: 80%;
}

input.bio {
	height: 60px;
}

input[type=submit]:hover, input[type=button]:hover{
	background: #5d758d;
	cursor: pointer;
}

div.follow-btn {
	float: right;
}

.tweet-sub {
	display: inline-block;
}

input.follow-btn {
	border-radius: 5px;
	padding: 3px 3px;
	margin: 5px 5px;
	width: 80px;
	height: 25px;
}

input.nofollow {
	background-color: #283b50;
}
input.nofollow:hover {
	background-color: #5d758d;
}
input.follow {
	background-color: #1a1b22;
}
input.follow:hover {
	background-color: #313239;
}
input.noliked {
	background-color: #283b50;
}
input.noliked:hover {
	background-color: #5d758d;
}
input.liked {
	background-color: #1a1b22;
}
input.liked:hover {
	background-color: #313239;
}
div.nav-bar {
	list-style-type: none;
	margin: 0 0;
	padding: 0 0;
	overflow: hidden;
}
div.nav-bar a {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 13px 25px;
	text-decoration: none;
}
p.tweet-content {
	margin-left: 10px;
	margin-right: 10px;
}
a.user {
	color: black;
	text-decoration: none;
}
a.user:hover {
	color: #5d758d;
	text-decoration: none;
}
div.nav-bar input {
	display: inline-block;
	padding: 13px 0;
	width: 150px;
}
div.nav-bar a:hover:not(.active) {
	background-color: #505157;
}
.search {
	display: inline;
}
.active {
	background-color: #5d758d;
}
img {
	border-radius: 50%;
}

div.box {
	background-color: #17181e;
	border-radius: 25px;
	padding: 20px;
	margin: 20px;
	min-width: 33%;
}

div.container {
	display: inline-block;
}

div.comment {
	border-radius: 18px;
	margin: 5px 5px;
	padding: 3px 3px;
	background-color: #3a4146;
}


p.comment-text {
	margin-left: 10px;
	margin-right: 10px;
}

div.search-result {
	background-color: #494f55;
	border-radius: 10px;
	text-align: left;
	margin: 8px 8px;
	padding: 5px 5px;
}
div.tweet {
	border-radius: 18px;
	margin: 5px 5px;
	padding: 3px 3px;
	background-color: #384550;
}
h3 {
	margin-top: 10px;
}
input.tweetsubmit {
	width: 80%;
}
.search-result {
	vertical-align: middle;
}

.seb {
	display: inline-block;
	vertical-align: middle;
}

img.profile {
	width: 300px;
	height: 300px;
}

img.icon {
	width: 50px;
	height: 50px;
}
